.dropdown .trigger {
    border-bottom: 1px solid #1c1c1c;
    padding: 10px;
    position: relative;
    cursor: pointer;
}

.dropdown .trigger::after {
    content: ">";
    display: inline-block;
    position: absolute;
    right: 15px;
    transform: rotate(90deg) scale(.5, 1);
    font-weight: bold;
    transition: transform .3s;
}

.dropdown .trigger.active::after {
    transform: rotate(-90deg) scale(.5, 1);
}

.dropdown .content {
    display: none;
}

.dropdown .content.active {
    display: block;
}